html {
  height: 720px;
  width: 1280px;
  position: absolute;
  overflow: hidden;
}

#root {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  font-family: 'Agave', monospace;
  line-height: 22px;
  font-size: 14px;
  height: 100%;
  width: 100%;
  overflow-wrap: break-word;
}